.namelist {
    font-family: '微软雅黑', "黑体";
    font-size: 16px;
    position: relative;
    width: 694px;
    height: 1011px;
    padding: 56px 50px;
    margin: 0 auto;
    background: url("excel/bg-0.jpg") center repeat-y;
}

.nl-bg {
    width: 100%;
    height: 100%;
    opacity: 1;
    filter: alpha(opacity=70);
    background: url("excel/logo.png") bottom center #fff no-repeat;
}

.nl-box {
    position: absolute;
    width: 694px;
    height: 1011px;
    left: 50px;
    top: 56px;
}

.nl-box h1 {
    width: 559px;
    height: 110px;
    margin: 0 auto;
    padding-top: 10px;
    line-height: 110px;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    font-family: '黑体';
    border-bottom: 2px solid #b12429;
}
.jp-box .jp-name{
    font-size: 24px;
    height: 64px;
    line-height: 64px;
}
.jp-box .jp-all li b, .jp-box .jp-all li span {
    height: 42px;
    line-height: 42px;
}

.jp-name {
    display: block;
    width: 557px;
    height: 42px;
    line-height: 42px;
    border: 1px solid #000;
    border-top: 0;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.jp-all {
    width: 558px;
    margin: 0 auto;
    color: #000;
    border-left: 1px solid #000;
}

.jp-all li .z1 {
    width: 116px;
}

.jp-all li b, .jp-all li span {
    display: block;
    float: left;
    width: 80px;
    font-size: 16px;
    text-align: center;
}

.jp-people span {
    color: #333;
}

.jp-tit {
    height: 36px;
    line-height: 36px;
    border-bottom: 1px solid #000;
}

.jp-tit b {
    font-weight: bold;
    height: 36px;
    line-height: 36px;
    border-right: 1px solid #000;
}

.jp-people {
    float: left;
    border-bottom: 1px solid #000;
}

.jp-people span {
    height: 36px;
    line-height: 36px;
    border-right: 1px solid #000;
}

.clearfix {
    *zoom: 1
}

.clearfix:after {
    content: "\200B";
    display: block;
    height: 0;
    clear: both
}
.jp-people{
    font-weight: bolder !important;
}